:root {
    --verde-oscuro: #099d8d;
    --verde-claro: #14d9c4;
    --blanco: #ffffff;
    --negro: #000000;
    --gris-oscuro: #54585a;
    --gris-claro: #b8b8b9;
    --gris-de-fondo: #f1f1f1;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}


.who-we-are-section {
    width: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title-who {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: var(--verde-claro);
    font-size: 1.9rem;
    margin:2rem 4.95rem 0 4.75rem;
}

.members-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.photo-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 14rem;
    width: 14rem;
    border: var(--gris-claro) solid 0.4rem;
    border-radius: 0.4rem;
}


.photo-member {
    max-width: 100%;
    max-height: 100%
}

.title-members {
    margin-top: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}

.text-members {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    color:  var(--gris-oscuro);
    text-align: center;
    margin: 1.5rem;
    line-height: 1.4;
 
}




