:root {
    --verde-oscuro: #099d8d;
    --verde-claro: #14d9c4;
    --blanco: #ffffff;
    --negro: #000000;
    --gris-oscuro: #54585a;
    --gris-claro: #b8b8b9;
    --gris-de-fondo: #f1f1f1;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif; */
}

* {
    font-size: 62.5%;
}

.team-name-box {
    background-color: var(--verde-oscuro);
}

.team-name {
    font-family: 'Rubik', sans-serif;
    color: var(--blanco);
    font-size: 1rem;
    text-align: center;
    padding: 1.5rem;
}

.nav {
    font-family: 'Rubik', sans-serif;
    background-color: var(--verde-claro);
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 0.7rem;
    color: var(--blanco);
}

.items-menu {
    
}



