
            <article class="contact-description">
                  <h2 class="title-who">CONTACTO</h2>
                  <p class="text">Deja aquí tus datos para ponerte en contacto con nosotras.</p>
                  <p class="form-conditions">Todos los campos marcados con <span class="asterisk">*</span> son obligatorios</p>
              </article>
              <fieldset class="form-titles" action="">
                <label for="fullname">
                    Nombre completo <span class="asterisk">*</span>
                </label>
                <input class="form-input" type="text" id="fullname" name="fullname" placeholder="Nombre..." required />
                
                    <div class="inline-desktop">
                        <div class="email-box">
                            <label for="email">
                                Email <span class="asterisk">*</span>
                            </label>
                            <input class="form-input email" type="mailto" id="email" name="email" placeholder="nombre.apellidos@mail.com" required />
                        </div>
                        <div class="telephone-box">
                            <label for="phone">Teléfono</label>
                            <input class="form-input telephone" type="number" name="phone" id="phone" pattern="/^\+?(\d.*){3,}$/" placeholder="Ej: 123456789"/>
                        </div>
                    </div>
             
                <label for="message">Mensaje <span class="asterisk">*</span></label>
                <textarea class="form-input-message" id="message" name="message" rows="8" cols="auto" placeholder="¿Qué necesitas?"></textarea>
            
                <div class="button-box"><input class="form-input-button" type="submit" /></div>
              </fieldset>
