<header class="header">
  <div class="team-name-box">
    <h2 class="team-name">The Web Wonder Women</h2>
  </div>
  <nav class="nav">
    <ul class="menu">
      <li class="menu-item">
        <a class="menu-item-link" href="#team">EQUIPO</a>
      </li>
      <li class="menu-item">
        <a class="menu-item-link" href="#who-we-are">QUIENES SOMOS</a>
      </li>
      <li class="menu-item">
        <a class="menu-item-link" href="contact.html">CONTACTO</a>
      </li>
    </ul>
  </nav>
</header>
