    <section id="team" class="team-section">
      
        <article class="team-description">
            
              <h2 class="title-team">The Web Wonder Women</h2>
              <p class="text">Somos cuatro mujeres valientes que han decidido dar un vuelco a sus vidas profesionales adentrándose en el mundo del desarrollo web. En esta aventura no estamos solas y juntas conseguiremos nuestros objetivos. Queremos que las mujeres tengan más visibilidad en el ámbito de la programación y estamos decididas a aportar nuestro granito de arena para lograrlo.</p>
          </article>

          <div class="triangle"></div>

        <article class="values-section">

          <div class="container-strength" class="strength">
            <h3 class="title-strength" class="item">Fortalezas</h3>
            <p class="text" class="text-strength" class="item">Formamos un equipo decidido y motivado. Somos capaces de dar lo mejor de nosotras mismas incluso en las situaciones más adversas. En nuestro trabajo buscamos la perfección y siempre nos apoyamos las unas a las otras para conseguirlo.</p>
          </div>

          <div class="container-weakness" class="weakness">
            <h3 class="title-weakness" class="item">Debilidades</h3>
            <p class=text class="text-weakness" class="item">Nos adentramos en un mundo nuevo para nosotras del que tenemos mucho que aprender.</p>
          </div>
        </article>
      </section>
