    <section id="team" class="team-section">
      
        <article class="team-description">
            
              <h2 class="title-team">equipo</h2>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit condimentum, consequat phasellus ligula tincidunt ac nisl dui, semper placerat volutpat auctor erat cursus torquent. Bibendum sed dui mauris integer at ullamcorper congue class, volutpat tincidunt porttitor egestas suspendisse lectus proin, sodales tortor turpis nisl libero feugiat tempus.</p>
              <p class="text">Viverra egestas dui accumsan placerat mi senectus dapibus cursus, penatibus ad sociosqu facilisis auctor porta curabitur laoreet scelerisque, proin imperdiet est mollis ultricies vitae arcu.</p>
          </article>

          <div class="triangle"></div>

        <article class="values-section">

          <div class="container-strength" class="strength">
            <h3 class="title-strength" class="item">Fortalezas</h3>
            <p class="text" class="text-strength" class="item">Lorem ipsum dolor sit amet consectetur adipiscing elit condimentum, consequat phasellus ligula tincidunt ac nisl dui, semper placerat volutpat auctor erat cursus torquent.</p>
          </div>

          <div class="container-weakness" class="weakness">
            <h3 class="title-weakness" class="item">Debilidades</h3>
            <p class=text class="text-weakness" class="item">Lorem ipsum dolor sit amet consectetur adipiscing elit condimentum, consequat phasellus ligula tincidunt ac nisl dui, semper placerat volutpat auctor erat cursus torquent.</p>
          </div>
        </article>
      </section>