<main>
    <section class="team-section">

        <article class="team-description">
          <h2>Equipo</h2>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit condimentum, consequat phasellus ligula tincidunt ac nisl dui, semper placerat volutpat auctor erat cursus torquent. Bibendum sed dui mauris integer at ullamcorper congue class, volutpat tincidunt porttitor egestas suspendisse lectus proin, sodales tortor turpis nisl libero feugiat tempus.</p>
          <p class="text">Viverra egestas dui accumsan placerat mi senectus dapibus cursus, penatibus ad sociosqu facilisis auctor porta curabitur laoreet scelerisque, proin imperdiet est mollis ultricies vitae arcu.</p> <p>Augue conubia leo natoque nisl taciti integer porta, id facilisi nunc euismod tempor sodales tellus ornare, nullam eros rhoncus dignissim habitant dis.</p>
        </article>

        <article class="values-section">
          <article class="fortalezas">
            <h3>Fortalezas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit condimentum, consequat phasellus ligula tincidunt ac nisl dui, semper placerat volutpat auctor erat cursus torquent.</p>
          </article>
          <article class="debilidades">
            <h3>Debilidades</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit condimentum, consequat phasellus ligula tincidunt ac nisl dui, semper placerat volutpat auctor erat cursus torquent.</p>
          </article>
        </article>

      </section>
</main>