    <section id="who-we-are" class="who-we-are-section">

        <h2 class="title-who">quiénes somos</h2>

        <article class="members-section">
            <div class="photo-container">
              <img class="photo-member" src="./assets/images/foto-patricia.jpeg" alt="foto de patricia">
            </div>
            <div class="members-section-tablet">
              <h3 class="title-members">Patricia Becerra</h3>
              <p class="text-members">Después de estar unos cuantos años trabajando como diseñadora gráfica, gracias a mi último empleo, me crucé con el mundo del desarrollo. Fue ahí donde me dí cuenta que el código y yo teníamos una deuda pendiente y en a Adalab, he descubierto lo muchísimo que me gusta.</p>
              <ul class="icons">
                <li><a><i class="fa-brands fa-twitter"></i></a></li>
                <li><span class="separador">·</span><a href="https://www.linkedin.com/in/patriciabecerracorbacho/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><span class="separador">·</span><a href="https://github.com/PatriPatuco"><i class="fa-brands fa-github-alt"></i></a></li>
                <li><span class="separador">·</span><a href="mailto:patricia.beco.dg@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>    
              </ul>
          </div>
        </article>

        <article class="members-section-reverse">
          <div class="photo-container">
            <img class="photo-member" src="./assets/images/foto-mariana.jpg" alt="foto de mariana">
          </div>
          <div class="members-section-tablet-reverse">
            <h3 class="title-members-reverse">Mariana</h3>
            <p class="text-members-reverse">Praesent eget mauris ex. Aliquam fringilla dolor quam, id lobortis diam rutrum sed. Nulla malesuada commodo tortor, ut mattis neque ullamcorper sagittis. Proin aliquam purus non justo placerat pulvinar. Integer fermentu</p>
            <ul class="icons-reverse">
              <li><a><i class="fa-brands fa-twitter"></i></a></li>
              <li><span class="separador">·</span><a href="http://www.linkedin.com/in/mariana-lobo-casas"><i class="fa-brands fa-linkedin-in"></i></a></li>
              <li><span class="separador">·</span><a href="https://github.com/MarianaLobo"><i class="fa-brands fa-github-alt"></i></a></li>
              <li><span class="separador">·</span><a href="mailto:m.lobocasas@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>    
            </ul>
          </div>
        </article>  

        <article class="members-section">
          <div class="photo-container">
            <img class="photo-member" src="./assets/images/foto-irene.jpg" alt="foto de irene">
          </div>
            <div class="members-section-tablet">
              <h3 class="title-members">Irene</h3>
              <p class="text-members">Tras estudiar el grado filosofía y trabajar como profesora de inglés he dado un giro de 180º y me he sumergido en la tecnología con Adalab, tras conocer el mundo de la programación por medio de las redes.</p>
              <ul class="icons">
                <li><a><i class="fa-brands fa-twitter"></i></a></li>
                <li><span class="separador">·</span><a href="https://www.linkedin.com/in/irenemez/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><span class="separador">·</span><a href="https://github.com/irenemez"><i class="fa-brands fa-github-alt"></i></a></li>
                <li><span class="separador">·</span><a href="mailto: irenemezyar@gmail.com
"><i class="fa-solid fa-envelope"></i></a></li>
              </ul>
            </div>
          </article>  

          <article class="members-section-reverse">
          <div class="photo-container">
            <img class="photo-member" src="./assets/images/foto-olga.png" alt="foto de olga">
          </div>
          <div class="members-section-tablet-reverse">
            <h3 class="title-members-reverse">Olga</h3>
            <p class="text-members-reverse">Estudié la carrera de magisterio, trabajé en el extranjero y en España algunos años. Pero al mismo tiempo tonteaba con la programación, ya fuese de manera autodidacta o en relación a la educación (enseñando Scratch a niñ@s). Y por fin me decidí a dar el paso y apostar por mi formación en Adalab.</p>
            <ul class="icons-reverse">
              <li><a><i class="fa-brands fa-twitter"></i></a></li>
              <li><span class="separador">·</span><a href="https://www.linkedin.com/in/olga-parras/"><i class="fa-brands fa-linkedin-in"></i></a></li>
              <li><span class="separador">·</span><a href="https://github.com/Olgapglez"><i class="fa-brands fa-github-alt"></i></a></li>
              <li><span class="separador">·</span><a href="mailto: parras.olga@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>    
            </ul>
          </div>
        </article>  
      </section>
