<main>
    <section class="who-we-are-section">

          <h2 class="title-who">quiénes somos</h2>

          <article class="members-section">
              <div class="photo-container">
                <img class="photo-member" src="./assets/images/small.jpg" alt="foto de mi cara">
              </div>
              <div class="members-section-tablet">
                <h3 class="title-members">Patricia Becerra</h3>
                <p class="text-members">Praesent eget mauris ex. Aliquam fringilla dolor quam, id lobortis diam rutrum sed. Nulla malesuada commodo tortor, ut mattis neque ullamcorper sagittis. Proin aliquam purus non justo placerat pulvinar. Integer fermentu</p>
                <ul class="icons">
                  <li><a><i class="fa-brands fa-twitter"></i></a></li>
                  <li><span class="separador">.</span><a><i class="fa-brands fa-linkedin-in"></i></a></li>
                  <li><span class="separador">.</span><a><i class="fa-brands fa-github-alt"></i></a></li>
                  <li><span class="separador">.</span><a><i class="fa-solid fa-envelope"></i></a></li>    
                </ul>
            </div>
          </article>

          <article class="members-section">
            <div class="photo-container">
              <img class="photo-member" src="./assets/images/small.jpg" alt="foto de mi cara">
            </div>
            <div class="members-section-tablet">
              <h3 class="title-members">Mariana</h3>
              <p class="text-members">Praesent eget mauris ex. Aliquam fringilla dolor quam, id lobortis diam rutrum sed. Nulla malesuada commodo tortor, ut mattis neque ullamcorper sagittis. Proin aliquam purus non justo placerat pulvinar. Integer fermentu</p>
              <ul class="icons">
                <li><a><i class="fa-brands fa-twitter"></i></a></li>
                <li><span class="separador">·</span><a><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><span class="separador">·</span><a><i class="fa-brands fa-github-alt"></i></a></li>
                <li><span class="separador">·</span><a><i class="fa-solid fa-envelope"></i></a></li>    
              </ul>
            </div>
          </article>  

          <article class="members-section">
            <div class="photo-container">
              <img class="photo-member" src="./assets/images/small.jpg" alt="foto de mi cara">
            </div>
              <h3 class="title-members">Irene</h3>
              <p class="text-members">Praesent eget mauris ex. Aliquam fringilla dolor quam, id lobortis diam rutrum sed. Nulla malesuada commodo tortor, ut mattis neque ullamcorper sagittis. Proin aliquam purus non justo placerat pulvinar. Integer fermentu</p>
              <ul class="icons">
                <li><a><i class="fa-brands fa-twitter"></i></a></li>
                <li><span class="separador">.</span><a><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><span class="separador">.</span><a><i class="fa-brands fa-github-alt"></i></a></li>
                <li><span class="separador">.</span><a><i class="fa-solid fa-envelope"></i></a></li>    
              </ul>
          </article>

          <article class="members-section">
            <div class="photo-container">
              <img class="photo-member" src="./assets/images/small.jpg" alt="foto de mi cara">
            </div>
                <h3 class="title-members">Olga</h3>
                <p class="text-members">Praesent eget mauris ex. Aliquam fringilla dolor quam, id lobortis diam rutrum sed. Nulla malesuada commodo tortor, ut mattis neque ullamcorper sagittis. Proin aliquam purus non justo placerat pulvinar. Integer fermentu</p>
                <ul class="icons">
                  <li><a><i class="fa-brands fa-twitter"></i></a></li>
                  <li><span class="separador">.</span><a><i class="fa-brands fa-linkedin-in"></i></a></li>
                  <li><span class="separador">.</span><a><i class="fa-brands fa-github-alt"></i></a></li>
                  <li><span class="separador">.</span><a><i class="fa-solid fa-envelope"></i></a></li>    
                </ul>
          </article>
      </section>
</main>