
    $verde-oscuro: #099d8d;
    $verde-claro: #14d9c4;
    $blanco: #ffffff;
    $negro: #000000;
    $gris-oscuro: #54585a;
    $gris-claro: #b8b8b9;
    $gris-de-fondo: #f1f1f1;
    $text-font: 'Open Sans', sans-serif;
    $title-font: 'Rubik', sans-serif;
    $text-font-size: 1.1rem;

