* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.team-name-box {
  background-color: #099d8d;
  height: 4rem;
  padding: auto;
  opacity: 90%; }

.team-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  padding: 1.5rem; }

.nav {
  font-family: "Open Sans", sans-serif;
  background-color: #14d9c4;
  opacity: 90%; }

.menu {
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
  color: #ffffff;
  list-style: none; }

.menu-item-link {
  text-decoration: none;
  font-size: 0.95rem;
  color: #ffffff; }

/* TABLET VERSION */
@media all and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #099d8d;
    opacity: 90%;
    padding: 0 1rem; }
  .team-name-box {
    height: 4rem; }
    .team-name-box .team-name {
      padding-left: 0.8rem; }
  .nav {
    font-family: "Open Sans", sans-serif;
    background-color: #099d8d; }
  .menu-item {
    padding-left: 1.5rem; } }

/*DESKTOP VERSION*/
@media all and (min-width: 1200px) {
  .header {
    /*  max-width: 1200px; */
    padding: 0 10rem; } }

.hero {
  height: 60vh; }

.hero-image {
  background-image: url("../images/hero.jpg");
  background-color: #54585a;
  background-size: cover;
  height: 70vh;
  transform: translate(0px, -160px);
  position: relative;
  z-index: -1; }

.hero-quote-box {
  background-color: #ffffff;
  width: 90vw;
  height: 5rem;
  margin: 0 auto;
  position: relative;
  bottom: 200px;
  display: flex;
  align-items: center; }

.hero-quote-text {
  font-family: "Rubik", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center; }

/* TABLET VERSION */
@media all and (min-width: 768px) {
  .hero {
    height: 50vh; }
  .hero-image {
    height: 55vh;
    transform: translate(0px, -64px); }
  .hero-quote-box {
    width: 60vw;
    height: 5rem;
    position: relative;
    bottom: 143px;
    margin-left: 2rem;
    padding: 2rem;
    opacity: 0.7; }
  .hero-quote-text {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left; } }

/*DESKTOP VERSION*/
@media all and (min-width: 1200px) {
  .hero {
    height: 60vh;
    /*  max-width: 1200px; */ }
  .hero-image {
    /* max-width: 1200px; */
    height: 70vh;
    transform: translate(0px, -64px); }
  .hero-quote-box {
    width: 45vw;
    height: 5rem;
    position: relative;
    bottom: 143px;
    margin-left: 10.5rem;
    padding: 2rem;
    opacity: 0.8; }
  .hero-quote-text {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left; } }

.team-section {
  width: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 4rem; }

.team-description {
  width: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.title-team {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  color: #14d9c4;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  width: 100vw;
  text-align: center; }

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: #54585a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  line-height: 1.4; }

.triangle {
  position: relative;
  transform: translate(1%, 50%) rotate(45deg);
  background: #ffffff;
  width: 20px;
  height: 20px; }

.values-section {
  background-color: #b8b8b9;
  width: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 3rem; }
  @media (min-width: 768px) {
    .values-section {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-evenly;
      padding-top: 3.5rem;
      padding-bottom: 3rem; } }

@media (min-width: 768px) {
  .container-weak {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align: center;
    padding-left: 3rem;
    padding-right: 3rem; } }

@media (min-width: 768px) {
  .container-strength {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 3rem;
    padding-right: 3rem; } }

.title-strength {
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  color: #099d8d;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  width: 100vw;
  text-align: center; }

@media (min-width: 768px) {
  .text-strength {
    text-align: center;
    word-wrap: normal; } }

.title-weakness {
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  color: #099d8d;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  width: 100vw;
  text-align: center; }

@media (min-width: 768px) {
  .text-weakness {
    text-align: center;
    word-wrap: normal; } }

/* VERSION TABLET Y PANTALLA*/
.who-we-are-section {
  width: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 4.5rem; }

.title-who {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  color: #099d8d;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  width: 100vw;
  text-align: center; }

.members-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  @media (min-width: 768px) {
    .members-section {
      display: flex;
      flex-direction: row;
      justify-content: center; } }

.photo-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 14rem;
  width: 14rem;
  border: #b8b8b9 solid 0.4rem;
  border-radius: 0.4rem; }

.photo-member {
  max-width: 100%;
  max-height: 100%; }

.title-members {
  margin-top: 1.5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw; }
  @media (min-width: 768px) {
    .title-members {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-left: 1rem; } }

.text-members {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: #54585a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .text-members {
      text-align: left;
      width: 60vw; } }

.icons {
  width: 100 vw;
  color: #099d8d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2rem;
  list-style: none; }
  @media (min-width: 768px) {
    .icons {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-left: 1rem; } }

.separador {
  margin-right: 8px; }

.members-section-tablet {
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 768px) {
    .members-section-tablet {
      width: 60%; } }

.footer-line {
  height: 1px;
  width: 100vw;
  background-color: #b8b8b9;
  border: none; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.copyright {
  font-family: "Rubik", sans-serif;
  font-size: 0.9rem;
  color: #b8b8b9;
  margin: 2rem 0; }

.footer-menu {
  transform: translate(10px 0px);
  list-style: none;
  text-align: center; }
  .footer-menu .footer-menu-item {
    padding: 0.2rem 0; }
    .footer-menu .footer-menu-item .footer-menu-item-link {
      font-family: "Rubik", sans-serif;
      font-size: 0.95rem;
      font-weight: 600;
      color: #54585a;
      text-decoration: none; }

.adalab-logo {
  width: 8.5rem;
  margin: 3rem; }

/* TABLET VERSION */
@media all and (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .footer-line {
    margin: 2rem 0; }
  .footer-info {
    background-color: aqua;
    display: flex;
    /*  flex-direction: row-; */ }
  .copyright {
    margin-left: 2rem;
    margin-top: 2rem; }
  .footer-menu {
    text-align: right;
    order: 4;
    margin: 2rem; } }

/*DESKTOP VERSION*/
@media all and (min-width: 1200px) {
  .copyright {
    margin-left: 10rem; }
  .footer-menu {
    margin: 0 10rem; } }

/*# sourceMappingURL=main.css.map */
