/*
@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/
:root {
  --verde-oscuro: #099d8d;
  --verde-claro: #14d9c4;
  --blanco: #ffffff;
  --negro: #000000;
  --gris-oscuro: #54585a;
  --gris-claro: #b8b8b9;
  --gris-de-fondo: #f1f1f1;
  /* font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif; */ }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%; }

.team-name-box {
  background-color: var(--verde-oscuro);
  height: 6rem;
  padding: auto;
  opacity: 90%; }

.team-name {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: var(--blanco);
  font-size: 1.4rem;
  text-align: center;
  padding: 1.5rem; }

.nav {
  font-family: 'Rubik', sans-serif;
  background-color: var(--verde-claro);
  opacity: 90%; }

.menu {
  display: flex;
  justify-content: space-around;
  padding: 0.7rem;
  color: var(--blanco);
  list-style: none; }

.items-menu {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--blanco); }

<<<<<<< HEAD
.team-section {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  color: var(--verde-oscuro);
  font-weight: 500;
  font-size: 1.8rem;
  margin: 2rem 3rem 0 3rem;
  width: 100vw;
  text-align: center; }
=======
.hero-image {
  background-image: url("../images/hero.jpg");
  background-color: #54585a;
  background-size: cover;
  height: 55vh;
  transform: translate(0px, -90px);
  position: relative;
  z-index: -1; }

.team-quote {
  background-color: var(--blanco);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  width: 80vw;
  height: 5rem;
  margin: 0 auto; }
>>>>>>> header-hero-footer

.who-we-are-section {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.title-who {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  color: var(--verde-oscuro);
  font-weight: 500;
  font-size: 1.8rem;
  margin: 2rem 3rem 0 3rem;
  width: 100vw;
  text-align: center; }

.members-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.photo-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 14rem;
  width: 14rem;
  border: var(--gris-claro) solid 0.4rem;
  border-radius: 0.4rem; }

.photo-member {
  max-width: 100%;
  max-height: 100%; }

.title-members {
  margin-top: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: var(--negro); }

.text-members {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  color: var(--gris-oscuro);
  text-align: center;
  margin: 1.5rem;
  line-height: 1.4; }

<<<<<<< HEAD
.icons {
  width: 14rem;
  color: var(--verde-oscuro);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 6rem;
  list-style: none; }

.separador {
  margin-right: 9px; }
=======
.footer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: var(--gris-claro); }

.footer-menu {
  list-style: none;
  text-align: center;
  padding: 2rem 0; }

.footer-menu-items {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: var(--gris-oscuro);
  text-decoration: none; }

.adalab-logo {
  width: 5rem; }
>>>>>>> header-hero-footer

/*# sourceMappingURL=main.css.map */
