.footer-line{
    height: 1px;
    width: 100vw;
    background-color: $gris-claro;
    border: none;
    
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    font-family: $title-font;
    font-size: 0.9rem;
    color: $gris-claro;
    margin: 2rem 0;
}

.footer-menu {
    list-style: none;
    text-align: center;

    .footer-menu-item{
        padding: 0.2rem 0;

        .footer-menu-item-link {
        font-family: $title-font;
        font-size: 0.95rem;
        font-weight: 600;
        color: $gris-oscuro;
        text-decoration: none;
        }
    }  
}

.adalab-logo {
    width: 8.5rem;
    margin: 3rem;
}

