.team-name-box {
  background-color: $verde-oscuro;
  height: 4rem;
  padding: auto;
  opacity: 90%;
}

.team-name {
  font-family: $text-font;
  font-weight: 400;
  color: $blanco;
  font-size: 1rem;
  text-align: center;
  padding: 1.5rem;
}

.nav {
  font-family: $text-font;
  background-color: $verde-claro;
  opacity: 90%;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
  color: $blanco;
  list-style: none;
}

.items-menu {
  text-decoration: none;
  font-size: 0.95rem;
  color: $blanco;
}
