.team-name-box {
  background-color: $verde-oscuro;
  height: 4rem;
  padding: auto;
  opacity: 90%;
}

.team-name {
  font-family: $text-font;
  font-weight: 400;
  color: $blanco;
  font-size: 1rem;
  text-align: center;
  padding: 1.5rem;
}

.nav {
  font-family: $text-font;
  background-color: $verde-claro;
  opacity: 90%;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
  color: $blanco;
  list-style: none;
}

.menu-item-link {
  text-decoration: none;
  font-size: 0.95rem;
  color: $blanco;
}

/* TABLET VERSION */
@media all and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $verde-oscuro;
    opacity: 90%;
    padding: 0 1rem;
  }

  .team-name-box {
    height: 4rem;

    .team-name {
      padding-left: 0.8rem;
    }
  }

  .nav {
    font-family: $text-font;
    background-color: $verde-oscuro;
  }

  .menu-item {
    padding-left: 1.5rem;
  }
}

/*DESKTOP VERSION*/
@media all and (min-width: 1200px) {
  .header {
    max-width: 1200px;
    padding: 0 10rem;
  }
}
