.hero{
  height: 50vh;
  margin-bottom: 3rem;
}

.hero-image {
    background-image: url("../images/hero.jpg");
    background-color: #54585a;
    background-size: cover;
    height: 100%;
  }
  
  .hero-quote-box {
    background-color: $blanco;
    width: 90vw;
    height: 5rem;
    margin: 0 auto;
    position: relative;
    bottom: 40px;
    display: flex;
    align-items: center;
  }

  .hero-quote-text {
    font-family: $text-font;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
  }

  /* TABLET VERSION */
@media all and (min-width: 768px) {
  .hero {
  height:50vh;
}


.hero-quote-box {
    width: 60vw;
    height: 5rem;
    position: relative;
    bottom: 143px;
    margin-left: 2rem;
    padding: 2rem;
    background-color: #ffffff9f;
  }

  .hero-quote-text {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
  }
}

/*DESKTOP VERSION*/
@media all and (min-width: 1200px) {
  .hero {
  height:60vh;
}

.hero-quote-box {
    width: 45vw;
    height: 5rem;
    position: relative;
    bottom: 143px;
    margin-left: 10.5rem;
    padding: 2rem;
    opacity: 0.8;
  }

  .hero-quote-text {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
  }

}
