.hero {
  height:60vh;
}

.hero-image {
    background-image: url("../images/hero.jpg");
    background-color: #54585a;
    background-size: cover;
    height: 70vh;
    transform: translate(0px, -160px);
    position: relative;
    z-index: -1;
  }
  
  .hero-quote-box {
    background-color: $blanco;
    width: 90vw;
    height: 5rem;
    margin: 0 auto;
    position: relative;
    bottom: 200px;
    display: flex;
    align-items: center;
  }

  .hero-quote-text {
    font-family: $title-font;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
  }

  /* TABLET VERSION */
@media all and (min-width: 768px) {
  .hero {
  height:50vh;
}

.hero-image {
    height: 55vh;
    transform: translate(0px, -64px);
  }

.hero-quote-box {
    width: 60vw;
    height: 5rem;
    position: relative;
    bottom: 143px;
    margin-left: 2rem;
    padding: 2rem;
    opacity: 0.7;
  }

  .hero-quote-text {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
  }
}

/*DESKTOP VERSION*/
@media all and (min-width: 1200px) {
  .hero {
  height:60vh;
 /*  max-width: 1200px; */
}

.hero-image {
  /* max-width: 1200px; */
    height: 70vh;
    transform: translate(0px, -64px);
  }

.hero-quote-box {
    width: 45vw;
    height: 5rem;
    position: relative;
    bottom: 143px;
    margin-left: 10.5rem;
    padding: 2rem;
    opacity: 0.8;
  }

  .hero-quote-text {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
  }

}
