
.team-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4rem;
}

.team-description {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.title-team {
    font-family: $title-font;
    text-transform: uppercase;
    color: $verde-claro;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 2rem ;
    width: 100%;
    text-align: center;
}

.text {
    font-family: $text-font;
    font-size: $text-font-size;
    color: $gris-oscuro;
    text-align: center;
    line-height: 1.4;
}

.triangle {
    position: relative;
    transform: translate(1%, 50%) rotate(45deg); 
    background: $blanco;
    width: 20px;
    height: 20px;
}

.values-section {
    background-color: $gris-de-fondo;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3.5rem;
    padding-bottom: 3rem;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        padding-top: 3.5rem;
        padding-bottom: 3rem;
    }
}

.container-weakness {
    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 3rem;
        padding-right: 3rem;
        }
    }

.container-strength {
    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 3rem;
        padding-right: 3rem;
        }
    }


.title-strength {
    font-family: $title-font;
    text-transform: capitalize;
    color: $verde-oscuro;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1rem ;
    text-align: center;
}

.text-strength {
    @media (min-width: 768px) {
        text-align: center;
        word-wrap: normal; 
    }
}

.title-weakness {
    font-family: $title-font;
    text-transform: capitalize;
    color: $verde-oscuro;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1rem ;
    text-align: center;
}

.text-weakness {
    @media (min-width: 768px) {
        text-align: center;
        word-wrap: normal; 
    }
}

/* VERSION TABLET Y PANTALLA*/


