/* ESTILOS PAGINA PRINCIPAL */
@import 'core/reset';
@import 'core/variables';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/team';
@import 'layout/who-we-are';
@import 'layout/footer';

/* ESTILOS PAGINA CONTACTO */
@import 'layout/hero-contact';
@import 'layout/form-contact';



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

















